body {
    font-family: "Gill Sans", sans-serif;
    margin: 0;
}

#topheader {
    background-color: #464642;
    display: flex;
    justify-content: space-between;
}

#socialmediaimg {
    padding: 0 2em 0;
}

#mainlogo {
    padding: 1em 0;
}

#call {
    display: flex;
    align-items: center;
    color: white;
    font-size: 2em;
}


#socialmedia {
    display: flex;
    align-items: center;
}

#searchmenu {
    display: inline-block;
    padding: 2em;
}

#searchmenu form {
    display: flex;
    align-items: center;
}

#searchmenu input::placeholder{
    font-size: 1em;
    color: #a8a8a8;
}
#searchmenu form img {
    width: 20px;
    height: auto;
    padding-right: 5px;
}

#searchmenu form input {
    border: none;
    font-style: italic;
}

menu {
    list-style-type: none;
    padding: 0;
}

menu li {
    border-top: 1px dotted gray;

}

menu li p {
    cursor: pointer;
    margin: 0;
    padding: 0.5em 0;
}

#miscellaneous,
#myaccount {
    display: flex;
    align-items: center;

}

#mainheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 1em;
    color: #787878;
    font-size: small;
}


#mainheader img{
    margin: 0 1em 0px 1.5em;
    width: 25px;
}



#menudisplay {
    flex-grow: 1;
}

main {
    display: flex;

}

#shoppingcart {
    background-color: #eeeeee;
    display: flex;
    align-items: center;
}